body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(127, 150, 255);
    background-image: url("images/814hgyKloyL._SL1396_.jpg");
    text-align: center;

}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkred;
}